* {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

body {
    background-color: rgb(197, 228, 231);
}

#logo {
    width: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
}

#wrapper {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 4%;
    width: 40%;
    padding: 20px;
    height: 310px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 20px 50px 0 rgb(181, 211, 214);
}

#input_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    margin-left: 5px;
    width: 47%;
    padding: 10px;
    height: 258px;
    /* border: solid 1px red; */
    font-weight: 700;
    color: rgb(1, 124, 131);
}

.text_input {
    background-color: rgb(243, 248, 251);
    border: none;
    width: 95%;
    border-radius: 5px;
    padding-right: 6px;
    height: 35px;
    margin-top: 5px;
    text-align: right;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

#bill {
    background-image: url(/images/icon-dollar.svg);
    background-position: 5%;
    background-repeat: no-repeat;
}

#bill:focus {
    outline: none !important;
    border: 1px solid rgb(89, 167, 156);
}

#numb_of_people {
    background-image: url(/images/icon-person.svg);
    background-position: 5%;
    background-repeat: no-repeat;
}

#numb_of_people:focus {
    outline: none !important;
    border: 1px solid rgb(89, 167, 156);
}

.text_input::-webkit-input-placeholder {
    color: rgb(173, 173, 173);
}

#output_box {
    background-color: rgb(0, 71, 75);
    border-radius: 12px;
    width: 40%;
    padding: 5%;
}

.gen_font_size {
    font-size: small;
}

.text_output {
    font-size: smaller;
    color: white;
}

#tip_amount {
    color: rgb(33, 195, 172);
    font-size: xx-large;
    font-weight: bolder;
    margin-top: -3%;
}

#tip_per_person {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

#total_per_person {
    margin-top: 13%;
    display: flex;
    justify-content: space-between;
}

.person_text {
    font-size: .7em;
    color: rgb(160, 160, 160);
}

#total_amount {
    color: rgb(33, 195, 172);
    font-size: xx-large;
    font-weight: bolder;
    margin-top: -3%;
}

#reset_button {
    margin-top: 37%;
    background-color: rgb(13, 104, 109);
    color: rgb(13, 94, 99);
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 2px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
}

#custom_amount {
    background-color: rgb(243, 248, 251);
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: bolder;
    width: 30.4%;
    height: 35px;
    border: none;
    margin-top: 3%;
    cursor: pointer;
}

#custom_amount:focus {
    outline: none !important;
    border: 1px solid rgb(89, 167, 156);
}

#custom_amount::-webkit-input-placeholder {
    color: rgb(0, 136, 143);
}

#buttons {
    display: flex;
    flex-wrap: wrap;
}

.butt {
    background-color: rgb(0, 71, 76);
    color: rgb(227, 245, 248);
    width: 30.4%;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 3%;
    cursor: pointer;
}

.left {
    margin-left: 2.9%;
}

.down {
    margin-top: 10%;
}

#paragraphs {
    display: flex;
    justify-content: space-between;
}

#validation {
    margin-right: 3%;
    color: rgb(231, 97, 97);
}